:root {
    --bec-offwhite: #181822;
    --bec-dark: #f2eeff;
    --bec-accent: #ffd84d;
}

html {
    background-color: var(--bec-offwhite);
}

body {
    position: relative;
    background-color: var(--bec-offwhite);
    color: var(--bec-dark);
}



@media (max-width: 768px) {
    .site-main {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}